.custome_nav{
    text-decoration: none;
    color: #c2c0c0;
    margin-left: 15px;
}

.custome_nav:hover{
    color: white;
}

.admin_link{
    text-decoration: none;
    color: rgb(221, 218, 218);
}

.admin_link:hover{
    color: white;
}